html,
body {
    padding: 0;
    margin: 0 auto;
    color: black;
    font-weight: 900;
}



#number {
    text-align: center;
    font-size: 120px;
    margin-top: 200px;
    margin-bottom: 150px;
}

.main-container {
    margin: 0 auto;
    text-align: center;
   
}

#plus,
#minus {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 25px;
}

#user-number {
    width: 200px;
    height: 150px;
    display: inline-block;
    margin: 0 25px;
    border: 5px solid grey;
}



#minus h1 {
    font-size: 82px;
    margin-bottom: 20px;

}

#plus h1 {
    font-size: 82px;
    margin-bottom: 20px;
}

form {

    text-align: center;
    font-size: 48px;
}

#plus,
#minus {
    background-color: grey;
    color: white;
}

input {

}

#plus:hover {
    background-color: white;
    color: grey;
}

#minus:hover {
    background-color: white;
    color: grey;
}